# Collaborative Filtering

In [1]:
import pandas as pd
from surprise import Reader, Dataset, SVD, SVDpp, SlopeOne, NMF, NormalPredictor, KNNBaseline, KNNBasic, KNNWithMeans, KNNWithZScore, BaselineOnly, CoClustering
from surprise.model_selection import cross_validate, train_test_split
from surprise import accuracy
from surprise.accuracy import rmse

import warnings
warnings.filterwarnings("ignore")

In [3]:
df_posts = pd.read_csv('/home/dewan/codespace/news-recommender/data/raw/posts.csv')
df_users = pd.read_csv('/home/dewan/codespace/news-recommender/data/raw/users.csv')
df_views = pd.read_csv('/home/dewan/codespace/news-recommender/data/raw/views.csv')

df_posts.rename(columns={'_id': 'post_id', ' post_type': 'post_type'}, inplace=True)
df_users.rename(columns={'_id': 'user_id'}, inplace=True)
df_posts.category = df_posts.category.fillna('')

df_merged = pd.merge(df_views, df_users, on='user_id')
df_merged = pd.merge(df_merged, df_posts, on='post_id')

df_merged.drop(columns='timestamp', inplace=True)
df_merged.head()

,user_id,post_id,name,gender,academics,title,category,post_type
0,5df49b32cc709107827fb3c7,5ec821ddec493f4a2655889e,Niriksha Sharma,female,undergraduate,Save Earth.,Visual Arts|Graphic Design|Artistic design|Gra...,artwork
1,5d7c994d5720533e15c3b1e9,5ec821ddec493f4a2655889e,Varun Chowhan,male,undergraduate,Save Earth.,Visual Arts|Graphic Design|Artistic design|Gra...,artwork
2,5e5af599d701ab08af792b63,5ec821ddec493f4a2655889e,Ilupeju Ayokunnumi,female,graduate,Save Earth.,Visual Arts|Graphic Design|Artistic design|Gra...,artwork
3,5de50d768eab6401affbb135,5ec821ddec493f4a2655889e,thesocialcomment,male,graduate,Save Earth.,Visual Arts|Graphic Design|Artistic design|Gra...,artwork
4,5deeef6142a8854bf6eabab9,5ec821ddec493f4a2655889e,siddharth saxena,male,undergraduate,Save Earth.,Visual Arts|Graphic Design|Artistic design|Gra...,artwork

In [4]:
print(df_posts.post_type.unique())
print(df_users.gender.unique())
print(df_users.academics.unique())

['blog' 'artwork' 'project' 'skill']
['male' 'female' 'undefined']
['undergraduate' 'graduate' 'undefined']

In [5]:
# assigning weights/ranks to different dependencies
w1 = {'skill': 4.1, 'project': 3, 'artwork': 2.1, 'blog': 0.9}
w2 = {'male': 3.1, 'female': 2.5, 'undefined': 1.5}
w3 = {'graduate': 4, 'undergraduate': 3, 'undefined': 1.5}

df_merged['strength'] = ((df_merged['post_type'].apply(lambda x: w1[x]))/4.1 + 
                        (df_merged['gender'].apply(lambda x: w2[x]))/3.1 + 
                        (df_merged['academics'].apply(lambda x: w3[x]))/4
                        )/3
df_merged['strength'] = 5*(df_merged['strength'].values/max(df_merged['strength'].values))

df_merged = df_merged[['user_id', 'post_id', 'strength']]
df_merged.head()

                    user_id                   post_id  strength
0  5df49b32cc709107827fb3c7  5ec821ddec493f4a2655889e  3.447745
1  5d7c994d5720533e15c3b1e9  5ec821ddec493f4a2655889e  3.770325
2  5e5af599d701ab08af792b63  5ec821ddec493f4a2655889e  3.864411
3  5de50d768eab6401affbb135  5ec821ddec493f4a2655889e  4.186992
4  5deeef6142a8854bf6eabab9  5ec821ddec493f4a2655889e  3.770325

In [6]:
reader = Reader()
data = Dataset.load_from_df(df_merged, reader)
bestAlgo = []

for algo in [SVD(), SVDpp(), SlopeOne(), NMF(), NormalPredictor(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]:
    result = cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=1)
    temp = pd.DataFrame.from_dict(result).mean(axis=0)
    temp = temp.append(pd.Series([str(algo).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    bestAlgo.append(temp)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.3183  0.3384  0.3168  0.3036  0.3348  0.3224  0.0127
MAE (testset)     0.2457  0.2561  0.2404  0.2265  0.2388  0.2415  0.0097
Fit time          0.01    0.01    0.01    0.01    0.01    0.01    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Evaluating RMSE, MAE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2820  0.2896  0.2996  0.2568  0.2916  0.2839  0.0147
MAE (testset)     0.2093  0.2109  0.2143  0.1902  0.2157  0.2081  0.0092
Fit time          0.07    0.07    0.07    0.07    0.07    0.07    0.00
Test time         0.01    0.01    0.01    0.01    0.01    0.01    0.00
Evaluating RMSE, MAE of algorithm SlopeOne on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2832  0.2871  0.3077  0.2556  0.2629  0.2793  0.0185
MAE (testset)     0.2050  0.2189  0.2090  0.1849  0.1938  0.2023  0.0119
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Evaluating RMSE, MAE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.3443  0.3783  0.2847  0.3105  0.3035  0.3243  0.0332
MAE (testset)     0.2448  0.2887  0.2086  0.2361  0.2354  0.2427  0.0260
Fit time          0.02    0.02    0.02    0.02    0.02    0.02    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Evaluating RMSE, MAE of algorithm NormalPredictor on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.6639  0.6051  0.6444  0.6424  0.6859  0.6483  0.0267
MAE (testset)     0.5263  0.4792  0.5196  0.5046  0.5539  0.5167  0.0247
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2047  0.2043  0.2460  0.2156  0.2167  0.2175  0.0152
MAE (testset)     0.1448  0.1383  0.1542  0.1382  0.1481  0.1447  0.0061
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.3358  0.3148  0.3351  0.3083  0.3406  0.3269  0.0129
MAE (testset)     0.2413  0.2403  0.2455  0.2342  0.2545  0.2432  0.0067
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2552  0.2498  0.2399  0.2329  0.2251  0.2406  0.0109
MAE (testset)     0.1662  0.1654  0.1575  0.1525  0.1474  0.1578  0.0073
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2436  0.2610  0.2431  0.2403  0.2561  0.2488  0.0082
MAE (testset)     0.1684  0.1731  0.1653  0.1621  0.1741  0.1686  0.0046
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Evaluating RMSE, MAE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.3458  0.3393  0.3132  0.3364  0.3075  0.3284  0.0152
MAE (testset)     0.2564  0.2487  0.2386  0.2435  0.2334  0.2441  0.0080
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Evaluating RMSE, MAE of algorithm CoClustering on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.5988  0.6169  0.6053  0.6222  0.5759  0.6038  0.0162
MAE (testset)     0.5118  0.5251  0.5352  0.5194  0.4762  0.5135  0.0202
Fit time          0.03    0.03    0.03    0.03    0.03    0.03    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

In [7]:
final = pd.DataFrame(bestAlgo).sort_values('test_rmse').set_index('Algorithm')
final

                 test_rmse  test_mae  fit_time  test_time
Algorithm
KNNBaseline       0.217458  0.144722  0.001065   0.001338
KNNWithMeans      0.240606  0.157806  0.000802   0.001230
KNNWithZScore     0.248835  0.168600  0.002253   0.001394
SlopeOne          0.279315  0.202326  0.002614   0.002620
SVDpp             0.283924  0.208088  0.071466   0.008696
SVD               0.322370  0.241511  0.008378   0.000921
NMF               0.324256  0.242721  0.019454   0.000730
KNNBasic          0.326922  0.243164  0.000162   0.001130
BaselineOnly      0.328426  0.244121  0.000928   0.000423
CoClustering      0.603817  0.513541  0.028828   0.000629
NormalPredictor   0.648324  0.516730  0.000490   0.000514

In [8]:
# although all these parameters have some default values. Refer documentation
# other names are pearson_baseline, msd
sim_options = {'name': 'cosine', 'user_based': True, 'shrinkage': 0}    # 'user_based': True means perform user based recommendation, false means do item based recommendation

# Using Alternating Least Squares (ALS)
bsl_optionsA = {'method': 'als', 'reg_u': 15, 'reg_i': 5, 'n_epochs': 20}  # reg_u, reg_i = regularization parameter for users and items
# Using Stochastic Gradient Descent (SGD)
bsl_optionsS = {'method': 'sgd', 'reg': 0.02, 'learning_rate': .00005, 'n_epochs': 20}

algoA = KNNWithMeans(sim_options=sim_options, bsl_options=bsl_optionsA)
algoS = KNNWithMeans(sim_options=sim_options, bsl_options=bsl_optionsS)

print('ALS-------------------------------------------------------------------------------------------------------------')
cross_validate(algoA, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
print('SGD-------------------------------------------------------------------------------------------------------------')
cross_validate(algoS, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

ALS-------------------------------------------------------------------------------------------------------------
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2318  0.2235  0.2462  0.2331  0.2672  0.2403  0.0153
MAE (testset)     0.1510  0.1436  0.1643  0.1549  0.1708  0.1569  0.0096
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
SGD-------------------------------------------------------------------------------------------------------------
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2585  0.2357  0.2186  0.2528  0.2563  0.2444  0.0152
MAE (testset)     0.1640  0.1552  0.1510  0.1541  0.1686  0.1586  0.0066
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

{'test_rmse': array([0.2584528 , 0.23567748, 0.21862695, 0.25278465, 0.25626279]),
 'test_mae': array([0.16398912, 0.15518994, 0.15097555, 0.15410369, 0.16864133]),
 'fit_time': (0.00079345703125,
  0.0008368492126464844,
  0.0007255077362060547,
  0.0007684230804443359,
  0.000827789306640625),
 'test_time': (0.002057790756225586,
  0.0012886524200439453,
  0.0012047290802001953,
  0.0013415813446044922,
  0.0012884140014648438)}

In [9]:
train, test = train_test_split(data, test_size=0.2, random_state=200)
algo = KNNWithMeans(algo=KNNWithMeans(sim_options=sim_options, bsl_options=bsl_optionsA))
prediction = algo.fit(train).test(test)
accuracy.rmse(prediction)

Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.2443

0.24433621848935497

In [10]:
def getU(ruid):
    try:
        return len(train.ur[train.to_inner_uid(ruid)])
    except ValueError: # User id is not a part of trainset
        return 0

def getI(riid):
    try:
        return len(train.ir[train.to_inner_iid(riid)])
    except ValueError: # Item id is not a part of trainset
        return 0

df_new = pd.DataFrame(prediction, columns=['user_id', 'post_id', 'rui', 'est', 'details'])
df_new['no_item_rated_by_user'] = df_new.user_id.apply(getU)
df_new['no_user_rated_item'] = df_new.post_id.apply(getI)
df_new['errors'] = abs(df_new.est - df_new.rui)
df_new.head()

,user_id,post_id,rui,est,details,no_item_rated_by_user,no_user_rated_item,errors
0,5e5855ced701ab08af792b51,5e7bd922cfc8b713f5ac7da9,2.959940,3.711433,"{'was_impossible': True, 'reason': 'User and/o...",0,2,0.751493
1,5ecb979eeaff6b0c3a58a4f0,5eca8fceeaff6b0c3a58a3c0,3.813598,3.835909,"{'actual_k': 6, 'was_impossible': False}",39,7,0.022311
2,5d60098a653a331687083238,5ec278b574f7660d73aa10d5,3.770325,3.654884,"{'actual_k': 5, 'was_impossible': False}",178,5,0.115441
3,5e35a5ed8d344822fed4d13e,5ed0e31a76027d35905cc302,4.230265,4.286960,"{'actual_k': 7, 'was_impossible': False}",16,7,0.056695
4,5e1ef04c2a37d20505da2b8b,5eb1551e10426255a7aaa003,3.447745,3.484953,"{'actual_k': 3, 'was_impossible': False}",46,3,0.037208

In [11]:
bestPred = df_new.sort_values(by='errors')
worstPred = df_new.sort_values(by='errors', ascending=False)

In [12]:
bestPred.head()

,user_id,post_id,rui,est,details,no_item_rated_by_user,no_user_rated_item,errors
278,5d7c994d5720533e15c3b1e9,5eb2cbde10426255a7aaa074,3.770325,3.770325,"{'actual_k': 1, 'was_impossible': False}",75,1,0.0
183,5d610ae1653a331687083239,5eaf8b9310426255a7aa9f7e,5.000000,5.000000,"{'actual_k': 2, 'was_impossible': False}",105,3,0.0
232,5e99b0d4a3258347b42f2bf0,5e9a7e73a3258347b42f2c24,3.770325,3.770325,"{'actual_k': 1, 'was_impossible': False}",3,1,0.0
148,5e7f4ad1a3258347b42f2155,5e897f6ca3258347b42f25cd,3.282520,3.282520,"{'actual_k': 0, 'was_impossible': False}",5,1,0.0
91,5e1ef04c2a37d20505da2b8b,5e2d4d63c85ab714a7da66db,3.447745,3.447745,"{'actual_k': 1, 'was_impossible': False}",46,1,0.0

In [13]:
worstPred.head()

,user_id,post_id,rui,est,details,no_item_rated_by_user,no_user_rated_item,errors
289,5e4ce251f5561b1994c8e40d,5ea7cd9610426255a7aa9bd2,5.000000,3.711433,"{'was_impossible': True, 'reason': 'User and/o...",0,4,1.288567
195,5e5af599d701ab08af792b63,5de8d73249e8203ff9219a74,4.677419,3.711433,"{'was_impossible': True, 'reason': 'User and/o...",50,0,0.965986
45,5d60098a653a331687083238,5ec2d29074f7660d73aa113b,4.583333,3.711433,"{'was_impossible': True, 'reason': 'User and/o...",178,0,0.871900
282,5ea5bf5110426255a7aa9b88,5ea5aacd10426255a7aa9b71,4.230265,3.376606,"{'actual_k': 0, 'was_impossible': False}",1,4,0.853659
96,5e840a75a3258347b42f2437,5e4ed85af5561b1994c8e470,4.552846,3.711433,"{'was_impossible': True, 'reason': 'User and/o...",0,1,0.841412

In [14]:
df_new = pd.merge(df_new, df_posts, on='post_id')
df_new = df_new[['user_id', 'post_id', 'title', 'category', 'post_type', 'rui', 'est', 'errors']]
df_new.head()

,user_id,post_id,title,category,post_type,rui,est,errors
0,5e5855ced701ab08af792b51,5e7bd922cfc8b713f5ac7da9,What sports will look like in the future,Computer Technology|Robotics|Data Science|Info...,blog,2.959940,3.711433,0.751493
1,5ecb979eeaff6b0c3a58a4f0,5eca8fceeaff6b0c3a58a3c0,Zero-Waste Lifestyle,,project,3.813598,3.835909,0.022311
2,5d60098a653a331687083238,5ec278b574f7660d73aa10d5,Rides,Drawings,artwork,3.770325,3.654884,0.115441
3,5e35a5ed8d344822fed4d13e,5ec278b574f7660d73aa10d5,Rides,Drawings,artwork,3.864411,3.881885,0.017473
4,5e35a5ed8d344822fed4d13e,5ed0e31a76027d35905cc302,Designing Cmos circuit from Boolean expression...,,project,4.230265,4.286960,0.056695

In [15]:
df_new[df_new['user_id']==df_new.user_id.value_counts().index[0]].sort_values(by='errors').head()

,user_id,post_id,title,category,post_type,rui,est,errors
117,5d60098a653a331687083238,5eb4fab110426255a7aaa0ed,God Drawing,Drawings,artwork,3.770325,3.781211,0.010886
136,5d60098a653a331687083238,5e52fd0ed701ab08af792a1f,Network Security Threats,Computer Technology|Computer Application,blog,3.282520,3.254238,0.028283
274,5d60098a653a331687083238,5e7df283a3258347b42f2128,screw2,Photography,artwork,3.770325,3.730093,0.040232
230,5d60098a653a331687083238,5e7df068a3258347b42f2125,screw town,Photography,artwork,3.770325,3.730093,0.040232
206,5d60098a653a331687083238,5ecf818376027d35905cbf03,GAN's INTRODUCTION,Computer Technology|Machine Learning,blog,3.282520,3.241290,0.041230

In [16]:
df_test = pd.DataFrame(test, columns=['user_id', 'post_id', 'merged'])
df_test

                      user_id                   post_id    merged
0    5e5855ced701ab08af792b51  5e7bd922cfc8b713f5ac7da9  2.959940
1    5ecb979eeaff6b0c3a58a4f0  5eca8fceeaff6b0c3a58a3c0  3.813598
2    5d60098a653a331687083238  5ec278b574f7660d73aa10d5  3.770325
3    5e35a5ed8d344822fed4d13e  5ed0e31a76027d35905cc302  4.230265
4    5e1ef04c2a37d20505da2b8b  5eb1551e10426255a7aaa003  3.447745
..                        ...                       ...       ...
285  5ed237ee76027d35905cc6c5  5e5e3b35fbc8805f69e02c9e  3.699187
286  5df20f1fee4bb5252b4f5351  5e8c2d01a3258347b42f2627  4.136179
287  5d60098a653a331687083238  5e9489e7a3258347b42f2896  3.770325
288  5e5af599d701ab08af792b63  5e9415d2a3258347b42f27f8  3.376606
289  5e4ce251f5561b1994c8e40d  5ea7cd9610426255a7aa9bd2  5.000000

[290 rows x 3 columns]

In [17]:
def recommend(user_id, n=10):
    res = pd.DataFrame(columns=['user_id', 'post_id', 'estimate'])
    for i in df_test.post_id.unique():
        temp = pd.DataFrame([[user_id, i, algo.predict(user_id, i)[3]]], columns=['user_id', 'post_id', 'estimate'])
        res = res.append(temp, ignore_index=True)
    res = pd.merge(res, df_posts, on='post_id')
    return res.sort_values(by='estimate', ascending=False).reset_index(drop=True)[:n]

### Final Recommendation

In [21]:
recommend('5e4ce251f5561b1994c8e40d')['title'].values[:]

array(['What sports will look like in the future', 'peace',
       'Benefits of Buying Grocery Online in Twin city of Odisha',
       'AWS CLI Setup in Mac', "GAN's INTRODUCTION", 'Dog❤️',
       'Palindrome (C# .Net)', 'Gangster Style', 'Trident',
       'BEING CREATIVE☺☺'], dtype=object)

In [23]:
recommend('5e35a5ed8d344822fed4d13e')['title'].values[:]

array(['Avengers Theme - Acoustic guitar', 'Keen learner.',
       'AWS CLI Setup in Mac', 'E s c a p e',
       'Quick Sketch of Gangster Skull.', 'Always Remember !!!',
       'Future Communication Predictions', 'How Soap Kills Corona Virus',
       'Hand art', 'The Power of Indian Audience.'], dtype=object)